[submodule "pkgs/home-manager"]
	path = pkgs/home-manager
	url = git@github.com:rycee/home-manager.git
[submodule "pkgs/Sbtix"]
	path = pkgs/Sbtix
	url = git@github.com:teozkr/Sbtix.git
[submodule "pkgsets/nixpkgs/worktree-root"]
	path = pkgsets/nixpkgs/worktree-root
	url = git@github.com:therealpxc/nixpkgs.git
[submodule "pkgsets/nixpkgs/nixos"]
	path = pkgsets/nixpkgs/nixos
	url = git@github.com:therealpxc/nixpkgs.git
[submodule "pkgsets/nixpkgs/darwin"]
	path = pkgsets/nixpkgs/darwin
	url = git@github.com:therealpxc/nixpkgs.git
